/*<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
*/


.App-all {
  text-align: center;
  /*font-family: Roboto;*/
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #F5FBF9;
  background-image: url(http://www.intheblack.com/~/media/intheblack/allimages/sponsored-content/2018/dexus-office-space.jpg);
}


.App-header {
  text-align: center;
  padding: 36px 0 36px 0;
}

.App-body {
  color: #666;
  text-align: center;
  opacity: 1;
  padding-top: 40px;
  padding-bottom: 100px;
  background-color: rgba(255, 255, 255, 0.7);
}

.text{
  padding-bottom: 20px;
}


.App-h1 {
   color: #1CB9D6;
   font-family: 'Lobster Two', sans-serif;
   font-size: 48px;
   margin-bottom: 30px;
   line-height: 1.2em;
}

.App-h2{
  font-size: 24px;
  padding-bottom: 20px;
}

.App-aboutpersonas{
    line-height: 1em;    
    margin-top: 5px;
}

.App-button {
  padding: 12px 12px 12px 12px;
  color: white;
  background-color: #1CB9D6;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
}

.App-link {
  color: white;
  background-color: white;
}